<div style="height: 5px; clear: both;"></div>

<div style="display: table;">
    <div style="display: table-row;">
        <div style="display: table-cell; padding: 5px; vertical-align: top; text-wrap: normal; color: #006EB9; min-width: 120px; text-align: right">
            Title
        </div>

        <div style="display: table-cell; padding: 5px; vertical-align: top;">
            <strong>$attUser.name</strong>
        </div>
    </div>

    <div style="display: table-row;">
        <div style="display: table-cell; padding: 5px; vertical-align: top; text-wrap: normal; color: #006EB9; min-width: 120px; text-align: right">
            Status
        </div>

        <div style="display: table-cell; padding: 5px; vertical-align: top;">
            $attUser.rstatus
        </div>
    </div>

    <div style="display: table-row;">
        <div style="display: table-cell; padding: 5px; vertical-align: top; text-wrap: normal; color: #006EB9; min-width: 120px; text-align: right">
            ETW
        </div>

        <div style="display: table-cell; padding: 5px; vertical-align: top;">
            $attUser.etwAsString ($attUser.etw Minutes)
        </div>
    </div>

    <div style="display: table-row;">
        <div style="display: table-cell; padding: 5px; vertical-align: top; text-wrap: normal; color: #006EB9; min-width: 120px; text-align: right">
            Description
        </div>

        <div style="display: table-cell; padding: 5px; vertical-align: top;">
            $attUser.description
        </div>
    </div>

    #if( !$attUser.details )
        <div style="display: table-row;">
            <div style="display: table-cell; padding: 5px; vertical-align: top; text-wrap: normal; color: #006EB9; min-width: 120px; text-align: right">
                Details
            </div>

            <div style="display: table-cell; padding: 5px; vertical-align: top;">
                $attUser.details
            </div>
        </div>
    #end

    <div style="display: table-row;">
        <div style="display: table-cell; padding: 5px; vertical-align: top; text-wrap: normal; color: #006EB9; min-width: 120px; text-align: right">
            Created By
        </div>

        <div style="display: table-cell; padding: 5px; vertical-align: top;">
            $attUser.createdBy.displayName
        </div>
    </div>

    <div style="display: table-row;">
        <div style="display: table-cell; padding: 5px; vertical-align: top; text-wrap: normal; color: #006EB9; min-width: 120px; text-align: right">
            Date Created
        </div>

        <div style="display: table-cell; padding: 5px; vertical-align: top;">
            $attUser.dateCreated
        </div>
    </div>

    <div style="display: table-row;">
        <div style="display: table-cell; padding: 5px; vertical-align: top; text-wrap: normal; color: #006EB9; min-width: 120px; text-align: right">
            Type
        </div>

        <div style="display: table-cell; padding: 5px; vertical-align: top;">
            #$attUser.rtype.name
        </div>
    </div>


    <div style="display: table-row;">
        <div style="display: table-cell; padding: 5px; vertical-align: top; text-wrap: normal; color: #006EB9; min-width: 120px; text-align: right">
            Time Duration
        </div>

        <div style="display: table-cell; padding: 5px; vertical-align: top;">
            $attUser.dateFrom to $attUser.dateTo
        </div>
    </div>

    <div style="display: table-row;">
        <div style="display: table-cell; padding: 5px; vertical-align: top; text-wrap: normal; color: #006EB9; min-width: 120px; text-align: right">
            External System ID
        </div>

        <div style="display: table-cell; padding: 5px; vertical-align: top;">
            $attUser.scVersion
        </div>
    </div>

</div>


##TEMPCOMMENT
##<div style="height: 5px; clear: both;"></div>
##Assigned to: $attUser.assignedTo.firstName!

<div style="height: 10px; clear: both;"></div>
You can find the details of the attUser here:
<div style="height: 10px; clear: both;"></div>
<a href="$application_url/att_user/$attUser.rcode/view_r">$application_url/att_user/$attUser.rcode/view_r</a>
<div style="height: 10px; clear: both;"></div>