<table style="min-width: 100%; border: 1px solid gainsboro;">
    <tr>
        <td>
            #parse( "/email-templates/header.vm" )
        </td>
    </tr>

    <tr>
        <td style=" padding: 10px;">

            Hi $userAccount.firstName!

            <div style="height: 5px; clear: both;"></div>

            <p>
            Your user account status has been changed.
            <p><p>
            New Status:&nbsp;<strong>$userAccount.rstatus</strong>
            <div style="height: 5px; clear: both;"></div><div style="height: 5px; clear: both;"></div><div style="height: 5px; clear: both;"></div>

        </td>
    </tr>

    <tr>
        <td style=" padding: 10px;">
            #parse( "/email-templates/footer.vm" )
        </td>
    </tr>
</table>