<div style="height: 5px; clear: both;"></div>

<div style="display: table;">
    <div style="display: table-row;">
        <div style="display: table-cell; padding: 5px; vertical-align: top; text-wrap: normal; color: #006EB9; min-width: 120px; text-align: right">
            Title/Summary
        </div>

        <div style="display: table-cell; padding: 5px; vertical-align: top;">
            <strong>$supportTicket.name</strong>
        </div>
    </div>

    <div style="display: table-row;">
        <div style="display: table-cell; padding: 5px; vertical-align: top; text-wrap: normal; color: #006EB9; min-width: 120px; text-align: right">
            Status
        </div>

        <div style="display: table-cell; padding: 5px; vertical-align: top;">
            $supportTicket.rstatus
        </div>
    </div>

    <div style="display: table-row;">
        <div style="display: table-cell; padding: 5px; vertical-align: top; text-wrap: normal; color: #006EB9; min-width: 120px; text-align: right">
            Priority
        </div>

        <div style="display: table-cell; padding: 5px; vertical-align: top;">
            $supportTicket.rpriority
        </div>
    </div>

    <div style="display: table-row;">
        <div style="display: table-cell; padding: 5px; vertical-align: top; text-wrap: normal; color: #006EB9; min-width: 120px; text-align: right">
            Description
        </div>

        <div style="display: table-cell; padding: 5px; vertical-align: top;">
            $supportTicket.description
        </div>
    </div>

    <div style="display: table-row;">
        <div style="display: table-cell; padding: 5px; vertical-align: top; text-wrap: normal; color: #006EB9; min-width: 120px; text-align: right">
            Details
        </div>

        <div style="display: table-cell; padding: 5px; vertical-align: top;">
            $supportTicket.details
        </div>
    </div>

    <div style="display: table-row;">
        <div style="display: table-cell; padding: 5px; vertical-align: top; text-wrap: normal; color: #006EB9; min-width: 120px; text-align: right">
            Assigned To
        </div>

        <div style="display: table-cell; padding: 5px; vertical-align: top;">
            $supportTicket.assignedTo.displayName
        </div>
    </div>

    <div style="display: table-row;">
        <div style="display: table-cell; padding: 5px; vertical-align: top; text-wrap: normal; color: #006EB9; min-width: 120px; text-align: right">
            Module
        </div>

        <div style="display: table-cell; padding: 5px; vertical-align: top;">
            $supportTicket.moduleName
        </div>
    </div>


    <div style="display: table-row;">
        <div style="display: table-cell; padding: 5px; vertical-align: top; text-wrap: normal; color: #006EB9; min-width: 120px; text-align: right">
            Sub Module
        </div>

        <div style="display: table-cell; padding: 5px; vertical-align: top;">
            $supportTicket.submoduleName
        </div>
    </div>


    <div style="display: table-row;">
        <div style="display: table-cell; padding: 5px; vertical-align: top; text-wrap: normal; color: #006EB9; min-width: 120px; text-align: right">
            Parent
        </div>

        <div style="display: table-cell; padding: 5px; vertical-align: top;">
            $supportTicket.parent.name
        </div>
    </div>

    <div style="display: table-row;">
        <div style="display: table-cell; padding: 5px; vertical-align: top; text-wrap: normal; color: #006EB9; min-width: 120px; text-align: right">
            Type
        </div>

        <div style="display: table-cell; padding: 5px; vertical-align: top;">
            $supportTicket.rype.name
        </div>
    </div>

    <div style="display: table-row;">
        <div style="display: table-cell; padding: 5px; vertical-align: top; text-wrap: normal; color: #006EB9; min-width: 120px; text-align: right">
            Level
        </div>

        <div style="display: table-cell; padding: 5px; vertical-align: top;">
            $supportTicket.level.name
        </div>
    </div>

    <div style="display: table-row;">
        <div style="display: table-cell; padding: 5px; vertical-align: top; text-wrap: normal; color: #006EB9; min-width: 120px; text-align: right">
            Environment
        </div>

        <div style="display: table-cell; padding: 5px; vertical-align: top;">
            $supportTicket.environment.name
        </div>
    </div>

    <div style="display: table-row;">
        <div style="display: table-cell; padding: 5px; vertical-align: top; text-wrap: normal; color: #006EB9; min-width: 120px; text-align: right">
            Created By
        </div>

        <div style="display: table-cell; padding: 5px; vertical-align: top;">
            $supportTicket.createdBy.displayName
        </div>
    </div>

    <div style="display: table-row;">
        <div style="display: table-cell; padding: 5px; vertical-align: top; text-wrap: normal; color: #006EB9; min-width: 120px; text-align: right">
            Date Created
        </div>

        <div style="display: table-cell; padding: 5px; vertical-align: top;">
            $supportTicket.dateCreated
        </div>
    </div>

    <div style="display: table-row;">
        <div style="display: table-cell; padding: 5px; vertical-align: top; text-wrap: normal; color: #006EB9; min-width: 120px; text-align: right">
            Last updated By
        </div>

        <div style="display: table-cell; padding: 5px; vertical-align: top;">
            $supportTicket.updatedBy.displayName
        </div>
    </div>

    <div style="display: table-row;">
        <div style="display: table-cell; padding: 5px; vertical-align: top; text-wrap: normal; color: #006EB9; min-width: 120px; text-align: right">
            Last updated Date/Time
        </div>

        <div style="display: table-cell; padding: 5px; vertical-align: top;">
            $supportTicket.dateUpdated
        </div>
    </div>

    <div style="display: table-row;">
        <div style="display: table-cell; padding: 5px; vertical-align: top; text-wrap: normal; color: #006EB9; min-width: 120px; text-align: right">
            Time Line
        </div>

        <div style="display: table-cell; padding: 5px; vertical-align: top;">
            $supportTicket.dateFrom to $supportTicket.dateTo
        </div>
    </div>

    <div style="display: table-row;">
        <div style="display: table-cell; padding: 5px; vertical-align: top; text-wrap: normal; color: #006EB9; min-width: 120px; text-align: right">
            Estimated Time of Delivery
        </div>

        <div style="display: table-cell; padding: 5px; vertical-align: top;">
            $supportTicket.etwAsString
        </div>
    </div>
</div>


##TEMPCOMMENT
##<div style="height: 5px; clear: both;"></div>
##Assigned to: $supportTicket.assignedTo.firstName!

<div style="height: 10px; clear: both;"></div>
You can find the details of the ticket here:
<div style="height: 10px; clear: both;"></div>
<a href="$application_url/support_ticket/$supportTicket.rcode/view_r">$application_url/support_ticket/$supportTicket.rcode/view_r</a>
<div style="height: 10px; clear: both;"></div>