<div style="height: 5px; clear: both;"></div>

<div style="display: table;">
    <div style="display: table-row;">
        <div style="display: table-cell; padding: 5px; vertical-align: top; text-wrap: normal; color: #006EB9; min-width: 120px; text-align: right">
            Title
        </div>

        <div style="display: table-cell; padding: 5px; vertical-align: top;">
            <strong>$campaign.name</strong>
        </div>
    </div>

    <div style="display: table-row;">
        <div style="display: table-cell; padding: 5px; vertical-align: top; text-wrap: normal; color: #006EB9; min-width: 120px; text-align: right">
            Status
        </div>

        <div style="display: table-cell; padding: 5px; vertical-align: top;">
            $campaign.rstatus
        </div>
    </div>

    <div style="display: table-row;">
        <div style="display: table-cell; padding: 5px; vertical-align: top; text-wrap: normal; color: #006EB9; min-width: 120px; text-align: right">
            ETW
        </div>

        <div style="display: table-cell; padding: 5px; vertical-align: top;">
            $campaign.etwAsString ($campaign.etw Minutes)
        </div>
    </div>

    <div style="display: table-row;">
        <div style="display: table-cell; padding: 5px; vertical-align: top; text-wrap: normal; color: #006EB9; min-width: 120px; text-align: right">
            Description
        </div>

        <div style="display: table-cell; padding: 5px; vertical-align: top;">
            $campaign.description
        </div>
    </div>

    #if( !$campaign.details )
        <div style="display: table-row;">
            <div style="display: table-cell; padding: 5px; vertical-align: top; text-wrap: normal; color: #006EB9; min-width: 120px; text-align: right">
                Details
            </div>

            <div style="display: table-cell; padding: 5px; vertical-align: top;">
                $campaign.details
            </div>
        </div>
    #end

    <div style="display: table-row;">
        <div style="display: table-cell; padding: 5px; vertical-align: top; text-wrap: normal; color: #006EB9; min-width: 120px; text-align: right">
            Created By
        </div>

        <div style="display: table-cell; padding: 5px; vertical-align: top;">
            $campaign.createdBy.displayName
        </div>
    </div>

    <div style="display: table-row;">
        <div style="display: table-cell; padding: 5px; vertical-align: top; text-wrap: normal; color: #006EB9; min-width: 120px; text-align: right">
            Date Created
        </div>

        <div style="display: table-cell; padding: 5px; vertical-align: top;">
            $campaign.dateCreated
        </div>
    </div>

    <div style="display: table-row;">
        <div style="display: table-cell; padding: 5px; vertical-align: top; text-wrap: normal; color: #006EB9; min-width: 120px; text-align: right">
            Type
        </div>

        <div style="display: table-cell; padding: 5px; vertical-align: top;">
            #$campaign.rtype.name
        </div>
    </div>


    <div style="display: table-row;">
        <div style="display: table-cell; padding: 5px; vertical-align: top; text-wrap: normal; color: #006EB9; min-width: 120px; text-align: right">
            Time Duration
        </div>

        <div style="display: table-cell; padding: 5px; vertical-align: top;">
            $campaign.dateFrom to $campaign.dateTo
        </div>
    </div>

    <div style="display: table-row;">
        <div style="display: table-cell; padding: 5px; vertical-align: top; text-wrap: normal; color: #006EB9; min-width: 120px; text-align: right">
            External System ID
        </div>

        <div style="display: table-cell; padding: 5px; vertical-align: top;">
            $campaign.scVersion
        </div>
    </div>

</div>


##TEMPCOMMENT
##<div style="height: 5px; clear: both;"></div>
##Assigned to: $campaign.assignedTo.firstName!

<div style="height: 10px; clear: both;"></div>
You can find the details of the campaign here:
<div style="height: 10px; clear: both;"></div>
<a href="$application_url/campaign/$campaign.rcode/view_r">$application_url/campaign/$campaign.rcode/view_r</a>
<div style="height: 10px; clear: both;"></div>